* {
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

footer {
  font-size: 10px;
  text-align: center;
}

body {
  background-color: black;
  color: whitesmoke;
}

.slideshow {
  margin-top: 30px;
  display: flex;
}

.information {
  height: auto;
  margin-top: 20px;
}

.repimg {
  width: 50%;
}

.prev, .next {
  cursor: pointer;
  margin-top: 50px;
}

.prev:hover, .next:hover {
  color: #b3b3b3;
}

.prev:active, .next:active {
  color: grey;
}

.prev {
  display: flex;
  align-items: center;
  margin-left: 7px;
}

.next {
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.home-header{
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  text-transform: uppercase;
  padding: 12px;
  width: 100%;
}

.header {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  text-transform: uppercase;
  padding: 12px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

#headerlink:visited {
  color: black;
}

h1 {
  font-size: 45px;
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: 15px;
  margin-right: 40px;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.image {
  width: 100%;
  height: 55%;
  z-index: 1;
  border-radius: 5px;
  margin-top: 5px;
}

.animate-pop-in {
  animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}

@keyframes pop-in {
  0% {
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.text-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-wrapper {
  text-align: center;
  margin-top: 5px;
  width: 70%;
  height: 6%;
  padding-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: lowercase;
  border-bottom: 1px solid #ccc;
  animation-delay: .8s;
}

a:link {
  text-decoration: none;
  color: white;
}

.mainbuttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
}

button {
  padding: 10px;
  margin: 6px;
  border: 1px solid black;
  border-radius: 5px;
  width: 135px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.homebuttoncontainer {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  width: 100%;
  justify-content: center;
}

.buttoncontainer {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 50%;
  height: 100vh;
  width: 100vw;
}

.ourimages {
  display: flex;
  justify-content: center;
  width: 70%;
}

.typefiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0 auto;
  margin-top: 30px;
}

.typefilesdesktop {
  display: none;
}

.typefiles img {
  display: flex;
  justify-content: center;
  width: 60%;
  height: auto;
  margin-top: 40%;
}

.homebutton {
  position: relative;
  font-size: 0;
  width: 250px;
  margin: 25px;
  cursor: pointer;
}

.homebutton img {
  width: 100%;
  height: 115.78px;
  border-radius: 5px;
}

.imagebuttoncontainer {
  position: relative;
  font-size: 0;
  width: 250px;
  margin: 25px;
  cursor: pointer;
}

.imagebuttoncontainer img {
  width: 100%;
  height: 154.38px;
  border-radius: 5px;
}

.imagebuttonoverlay {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 44%;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  font-size: 1rem;
  transition: 1s;
}

.imagebuttonoverlay:hover {
  width: 66%;
}

.imagebuttonoverlay p {
  align-self: center;
  text-align: center;
  width: 100%;
  font-size: 17px;
}

.imagebuttonoverlayhome {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 44%;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  font-size: 1rem;
  transition: 1s;
}

.imagebuttonoverlayhome:hover {
  width: 66%;
}

.imagebuttonoverlayhome p {
  align-self: center;
  text-align: center;
  width: 100%;
  font-size: 22px;
}

.moreinfo {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 50px;
  width: 320px;
  margin: 5px auto;
}

.moreinfo, .typefiles > h4, p, a {
  margin: 8px;
}

.moreinfo h4, .typefiles h4 {
  font-size: 18px;
  font-style: italic;
}

.learn {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
}

.learn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
}


.closebtn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin-right: 4px;
  margin-top: 4px;
}

@media only screen and(min-width: 426px) {
  .buttoncontainer {
    margin-top: 20%;
  }
}

@media only screen and (min-width: 768px){

  .image {
    width: 90%;
    margin-top: 5px;
  }

  .logo {
    margin-left: -30px;
    width: 93px;
    height: 90px;
  }

  header {
    height: 101px;
  }

  h1 {
    font-size: 64px;
  }

  .buttoncontainer {
    margin-top: 20%;
  }

  .text-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-wrapper {
    font-size: 1.2rem;
    margin-top: 12px;
  }

  .mainbuttons {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .typefiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0 auto;
  }

  .typefiles img {
    display: flex;
    justify-content: center;
    width: 40%;
    height: auto;
    margin-top: 18%;
  }

  .learn {
    width: 135px;
  }

  .learn:hover {
    width: 135px;
  }
}

@media only screen and (min-width: 900px){
  .logo{
    margin-left: -75px;
  }

  .image {
    width: 55%;
    margin-top: 21px;
  }

  .text-flex {
    margin-bottom: -10px;
  }

  header {
    height: 101px;
  }

  .buttoncontainer {
    margin-top: 15%;
  }

  .slideshow {
    display: none;
  }

  .repeatedimages {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;
    z-index: 0;
    position: relative;
  }

  .typefilesdesktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 0 auto;
    margin: 25px;
  }

  .typefilesdesktop img {
    width: 200px;
    transition:transform 0.25s ease;
  }

  .typefilesdesktop img:hover {
    cursor: zoom-in;
  }

  .typefilesdesktop img:active {
    transform:scale(1.5);
  }

  .moreinfo {
    background-color: black;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    margin-top: 4%;
    display: flex;
    align-items: center;
    transition:transform 1.5s ease;
  }

  .left {
    width: 50%;
    height: 90%;
    margin: 10px;
  }

  .left img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .right {
    width: 50%;
    margin: 10px;
  }
}

@media only screen and (min-width: 1150px){
  .container:after {
    position: absolute;
    content: "";
    top: 1vw;
    left: 0;
    right: 0;
    z-index: -1;
    height: 80%;
    width: 95%;
    margin: 0 auto;
    transform: scale(.55);
    filter: blur(5vw);
    background: linear-gradient(270deg, #ecece1, #ecece1);
  }
}
